<!-- #include file="partials/header.ascx" -->

<section class="home">
    <div id="FullPane" runat="server"></div>
    <div class="container">
        <div id="ContentPane" runat="server" class="col-12"></div>
    </div>
</section>

<!-- #include file="partials/footer.ascx" -->