<%@ Control AutoEventWireup="false" Explicit="True" Inherits="DotNetNuke.UI.Containers.Container" %>
<div class="container-text-center text-center">
    <div id="ContentPane" runat="server"></div>
</div>