$main: rgb(228, 80, 37); //orange
$main-form: rgba($main, .05); //form background
$secondary: rgb(42, 42, 42); //grey
$accent: rgb(0, 0, 0); //black
$black: rgb(0, 0, 0);
$black-opaque: rgba(0, 0, 0, 0.6);
$white: rgb(255, 255, 255);
$transparent: rgba(0, 0, 0, 0);
$font: rgb(0, 0, 0);
$resets-grey: #ccc;

$base-link: "&,&:link,&:visited,&:active";
$hover-link: "&:hover,&:focus";

$font-main: sans-serif;

$screen-xl-min: 1200px;
$screen-lg-max: 1199px;
$screen-lg-min: 992px;
$screen-md-max: 991px;
$screen-md-min: 768px;
$screen-sm-max: 767px;
$screen-sm-min: 576px;
$screen-xs-max: 575px;