.site-footer {
    background-color: #EBB014;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid white;
    .center {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}