.header-menu {

    .top-level {
        display: flex;
        margin: 0;
        position: relative;

        li {
            list-style-type: none;
            position: relative;
        }

        > li {

            &:hover {

                .drop-down {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .drop-down {
        left: 0;
        top: 100%;
    }

    .fly-out {
        left: 100%;
        top: 0;
    }

    .drop-down,
    .fly-out {
        margin: 0;
        opacity: 0;
        position: absolute;
        transition: opacity .5s ease 0s, visibility .5s ease 0s;
        visibility: hidden;
        z-index: 10;

        > li {
            white-space: nowrap;

            &:hover {

                > .fly-out {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}