﻿.site-header {
    background: #EBB014;
    left: 0;
    position: fixed;
    right: 0;
    transition: transform .7s ease 0s;
    top: 0;
    z-index: 500;
    border-bottom: 2px solid white;

    .Heading {
        justify-content: center;
    }

    img {
        height: 100px;
        width: 300px;
        margin-top: -10px;
        margin-bottom: -5px;
    }

    & + * {
        padding-top: 125px; //pushes page content below fixed header; make height of header in px
        padding-bottom: 50px;
    }

}