[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
textarea {
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0;
    margin-top: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.Head {
    margin-bottom: 0;
}

.btn,
button {
    -webkit-appearance: inherit;
    outline: 0 none !important;
    transition: background .3s ease 0s, border-color .3s ease 0s, color .3s ease 0s;
}

a {

    #{$base-link},
    &:hover {
        outline: 0 none !important;
        transition: background .3s ease 0s, border-color .3s ease 0s, color .3s ease 0s;
    }

    #{$base-link} {

        img {
            opacity: 1;
            transition: opacity .3s ease 0s;
        }
    }

    &:hover {

        img {
            opacity: .8;
        }
    }
}

textarea {
    outline: none; 
}

//Bootstrap w/ DNN Adjustments
.Normal,
.NormalDisabled,
.NormalDeleted {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.loginGroup {
    display: inline-block;
}

select.form-control:not([size]):not([multiple]) {
    height: 34px;
}

//Cleans up default dnn search results
.DnnModule-SearchResults {
    margin-bottom: 40px;
}

.dnnSearchBoxPanel {
    background: $transparent;
    margin: 20px 0 40px;
    max-width: 100%;
    padding: 0;

    .dnnSearchResultAdvancedTip {
        display: none;
    }
    
    .dnnSearchBox {
        align-items: center;
        background: $transparent;
        border: 0;
        box-shadow: none;
        display: flex;
        margin: 0;
        padding: 0;

        .dnnSearchBoxClearAdvanced {
            display: none;
        }
        
        > input[type="text"] {
            &,
            &:focus {
                background: $white;
                border: 1px solid $resets-grey;
                height: auto;
                left: 0;
                padding: 5px 10px;
                position: relative;
                right: auto !important;
                width: 100% !important;
            }
        }

        > a.dnnSearchBoxClearText {
            display: none;
        }
        
        >a.dnnSearchButton {
            align-items: center;
            background: $main;
            border: 1px solid $resets-grey;
            border-left: 0;
            display: flex;
            height: 36px;
            justify-content: center;
            margin: 0;
            position: relative;
            right: auto;
            top: auto;
            transition: background .5s ease 0s;
            width: 36px;

            &:hover {
                background: $secondary;
            }

            &::before {
                color: $white;
                content: "\f002";
                font-family: "Font Awesome 5 Pro";
            }
        }

        > .dnnSearchBox_advanced {
            display: none;
            position: relative;
            right: auto;
            top: auto;

            >.dnnSearchBox_advanced_label {
                background: none;
                border: 0;
                height: auto;
                margin: 0;
                padding: 0;
            }
        }
    }

}

.dnnSearchResultPanel {
    background: $transparent;
    display: none;
    max-width: 100%;

    .dnnRight {
        margin-right: 0;
    }
}

.dnnSearchResultPager.dnnSearchResultPagerTop,
.dnnSearchResultPager {
    margin: 0;
    padding: 0;

    .dnnLeft {
        float: none;

        span {
            font-size: 12px;
            line-height: 18px;
            margin: 0;
        }
    }
}

.dnnSearchResultContainer>.dnnSearchResultItem-Subset>.dnnSearchResultItem-Title {
    display: none;
}

.dnnSearchResultContainer>.dnnSearchResultItem,
.dnnSearchResultContainer>.dnnSearchResultItem-Subset {

    >.dnnSearchResultItem-Title {
        margin-bottom: 0 !important;
    }

    >.dnnSearchResultItem-Link {
        display: none !important;
    }

    >.dnnSearchResultItem-Description {
        margin-bottom: 0 !important;

        >b {
            font-weight: 700;
        }
    }

    >.dnnSearchResultItem-Others {

        >span,
        >label {
            font-size: 12px !important;
            font-weight: 500 !important;
            line-height: 18px !important;
            margin-bottom: 0;
        }

        .dnnSearchResultItem-sourceLink,
        label+span {
            display: none !important;
        }
    }
}

//Cleans up search input dropdown
#dnn_DnnSearch_ClassicSearch .searchInputContainer {

    .dnnSearchBoxClearText {
        display: none;
    }

    .searchSkinObjectPreview {
        display: none;
        
        > li:first-of-type {
            border-top: 0;
        }
    }
}

//Core Overrides
@media screen and (min-width: 1230px) {

    .container {
        max-width: 1200px;
    }
}

.DNNEmptyPane {
    min-height: 0;
}

.fm-form-wrapper {
    width: 100%;
}

//Dnn 9 admin
.personabar-visible {

    form#Form {
        max-width: calc(100% - 80px);
    }
}

//2sxc Overrides
.sc-content-block-menu {
    display: none !important;
}

// Accounts for visible personabar and full-width containers
#Body {
    &.personabar-visible {
        max-width: calc(100vw - 80px);
    }
}