// @include font-face(font-name);

html {
    font-size: 16px;
    line-height: calc(1em + 6px);
}

body {
    font-family: $font-main;
}

p {
    color: $font;
    margin: 0 0 20px;
}

h1 {
    color: $main;
    font: 50px/calc(1em + 6px) $font-main;
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    color: $main;
    font: 40px/calc(1em + 6px) $font-main;
    margin-bottom: 0;
}

h3 {
    color: $main;
    font: 35px/calc(1em + 6px) $font-main;
    margin-bottom: 0;
}

h4 {
    color: $main;
    font: 30px/calc(1em + 6px) $font-main;
    margin-bottom: 0;
}

h5 {
    color: $main;
    font: 24pxrem/calc(1em + 6px) $font-main;
    margin-bottom: 0;
}

a {
    #{$base-link} {
        color: $main;
        text-decoration: none;
    }

    &:hover {
        color: $black;
    }
}