.btn,
.btn:link,
.btn:visited,
.btn:active,
.dnnPrimaryAction,
.dnnFormItem input[type="submit"],
a.dnnPrimaryAction,
.dnnFormItem button,
.dnnFormItem input[type="button"],
.dnnFormItem input[type="reset"],
.dnnSecondaryAction,
a.dnnSecondaryAction,
ul.dnnAdminTabNav li a,
.dnnLogin .LoginTabGroup span {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: $white;
    font-family: $font-main;
    font-size: inherit;
    text-shadow: none;
    transition: background .5s ease 0s;
    
    &.btn-primary {
        background: $main;
        
        &:hover {
            background: $secondary;
            color: $white;
        }
    }
    
    &.btn-default {
        background: $secondary;
        
        &:hover {
            background: $main;
            color: $white;
        }
    }
}

.dnnPrimaryAction,
.dnnFormItem input[type="submit"],
a.dnnPrimaryAction {
    background: $main;
        
    &:hover {
        background: $secondary;
        color: $white;
    }
}

.dnnFormItem button,
.dnnFormItem input[type="button"],
.dnnFormItem input[type="reset"],
.dnnSecondaryAction,
a.dnnSecondaryAction,
ul.dnnAdminTabNav li a,
.dnnLogin .LoginTabGroup span {
    background: $secondary;
        
    &:hover {
        background: $main;
        color: $white;
    }
}