.dnnLoginService {
    margin-top: 20px;

    .dnnFormItem {

        &:first-of-type,
        &:nth-of-type(2) {
            display: flex;
            flex-direction: column;
    
            .dnnLabel {
                margin: 0;
                padding: 0;
                float: none;
                text-align: left;
                width: auto;
            }
        }
    
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:last-of-type {
    
            .dnnFormLabel {
                display: none;
            }
        }
    }
}