.fm-form-wrapper {

    .validationMessage {
        color: red;
        float: right;
        font-size: 11px;
    }
    
    .alert-success p {
        margin: 0;
    }

    .form-group {

        label {
            color: $font;
            //display: none;
            font: 12px/18px $font-main;
            text-transform: uppercase;
        }

        > input:not(.btn),
        textarea,
        select {
            background: $main-form;
            border-radius: 0;
            box-shadow: none;
            color: $black;
            transition: border-color .5s ease 0s;

            &:focus {
                border-color: $main;
            }
        }

        textarea {
            min-height: 132px;
        }

        .radio-inline,
        .checkbox-inline {
            margin-right: 10px;

            +.radio-inline,
            +.checkbox-inline {
                margin-left: 0;
            }
        }

        .filedrag {
            border: 0;
            margin: 0;
            padding: 0;

            .input-group {

                .custom-file-input-file-name {
                    background: $white;
                    border: 1px solid $resets-grey;
                    border-radius: 0;
                    box-shadow: none;
                    color: $font;
                    transition: border-color .5s ease 0s;

                    &:focus {
                        border-color: $main;
                    }
                }

                .input-group-btn {
                    font-size: inherit;

                    .custom-file-input-button,
                    .custom-file-input-clear-button {
                        background: $black;
                        margin: 0;
                        padding: 6px 10px;
                        transition: background .5s ease 0s;
                        vertical-align: top;

                        &:hover {
                            background: $main;
                        }
                    }
                }
            }
        }
    }
}