﻿@using DotNetNuke.Web.DDRMenu;
@using System.Dynamic;
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

@{ var root = Model.Source.root; }

@helper RenderNodes(IList<MenuNode> nodes)
{
    if (nodes.Count > 0)
    {
        <ul class="top-level">
            @foreach (var node in nodes)
            {
                var cssClasses = new List<string>();
                if (node.Selected || node.Breadcrumb) { cssClasses.Add("selected"); }
                var classString = new HtmlString((cssClasses.Count == 0) ? "" : (" class=\"" + String.Join(" ", cssClasses.ToArray()) + "\""));

                <li @classString>
                    @if (node.Enabled)
                    {
                        var isPdf = "";
                        if (node.Url.Contains("LinkClick")) {
                            isPdf = "_blank";
                        }
                        <a href="@node.Url" title="@node.Text" target="@isPdf"><span>@node.Text</span></a>
                    }
                    else
                    {
                        <span>@node.Text</span>
                    }

                    @RenderDropDownNodes(node.Children)
                </li>
            }
        </ul>
    }
}

@helper RenderDropDownNodes(IList<MenuNode> nodes) {
    if (nodes.Count > 0)
    {
        <ul class="drop-down">
            @foreach (var node in nodes)
            {
                var cssClasses = new List<string>();
                if (node.Selected || node.Breadcrumb) { cssClasses.Add("selected"); }
                var classString = new HtmlString((cssClasses.Count == 0) ? "" : (" class=\"" + String.Join(" ", cssClasses.ToArray()) + "\""));

                <li @classString>
                    @if (node.Enabled)
                    {
                        var isPdf = "";
                        if (node.Url.Contains("LinkClick")) {
                            isPdf = "_blank";
                        }
                        <a href="@node.Url" title="@node.Text" target="@isPdf"><span>@node.Text</span></a>
                    }
                    else
                    {
                        <span>@node.Text</span>
                    }

                    @RenderFlyOutNodes(node.Children)
                </li>
            }
        </ul>
    }
}

@helper RenderFlyOutNodes(IList<MenuNode> nodes)
{
    if (nodes.Count > 0)
    {
        <ul class="fly-out">
            @foreach (var node in nodes)
            {
                var cssClasses = new List<string>();
                if (node.Selected || node.Breadcrumb) { cssClasses.Add("selected"); }
                var classString = new HtmlString((cssClasses.Count == 0) ? "" : (" class=\"" + String.Join(" ", cssClasses.ToArray()) + "\""));

                <li @classString>
                    @if (node.Enabled)
                    {
                        var isPdf = "";
                        if (node.Url.Contains("LinkClick")) {
                            isPdf = "_blank";
                        }
                        <a href="@node.Url" title="@node.Text" target="@isPdf"><span>@node.Text</span></a>
                    }
                    else
                    {
                        <span>@node.Text</span>
                    }

                    @RenderFlyOutNodes(node.Children)
                </li>
            }
        </ul>
    }
}

<nav class="horiz-menu">
    @RenderNodes(root.Children)
</nav>