.home {
    background-color: #090907;

    .category-tabs {
        display: flex;
        justify-content: space-evenly;
        margin: 0px 0px 35px 0px;
    }

    .tab {
        display: flex;
        background: #090907;
        border: 3px outset #EBB014;
        border-radius: 10px;
        &:hover {
            opacity: 0.7;
        }
    }

    .tab-name {
        font-size: 30px;
        font-weight: 600;
        color: #EBB014;
        margin-bottom: 0;
        padding: 5px 20px;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }

    .video-page {
        background-color: white;
        padding: 55px 15px 20px 15px;
        border-radius: 50px; 
    }

    .panel {
        display: flex;
        padding: 25px 0px 20px 0px;
    } 

    .left-panel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 0px 0px 20px;
        h6 {
            margin-bottom: 15px;
        }
        a {
            color: black;
            font-size: 40px;
            font-weight: 600;
        }
        .embed-responsive {
            border-radius: 10px;
        }
    }

    .right-panel {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding: 65px 10px 0px 40px;
        text-align: center;
        h3 {
            font-size: 20px;
            font-style: italic;
            color: black;
        }    
    }
}